{% extends 'base.html' %}

<!DOCTYPE html>
<html>
    <head>
        {% block title %}
            <title>Create task</title>
        {% endblock title %}
    </head>
    <body>
        {% block content %}
            <main>
                <div>
                    <h1>Create a new task</h1>
                    <form method ="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button>Create</button>
                    </form>
                </div>
            </main>
        {% endblock content %}
    </body>
</html>
