{% extends 'base.html' %}

<!DOCTYPE HTML>
<html>
    {% block title %}
        <head>
            <title>Task list</title>
        </head>
    {% endblock title %}
    <body>
        {% block content %}
            <main>
                <div>
                    <h1>My Tasks</h1>
                    {% if tasks.all|length == 0 %}
                        <p>You have no tasks</p>
                    {% else %}
                        <table>
                            <thread>
                            <tr>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                            </thread>
                            <tbody>
                                {% for task in tasks.all %}
                                    <tr>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.start_date }}</td>
                                        <td>{{ task.due_date }}</td>
                                        <td>{{ task.is_completed|yesno }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </main>
        {% endblock content %}
    </body>
</html>
